<?xml version="1.0" encoding="UTF-8" ?>
<widget 
xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.ssnprojects.mis"
versionCode = "10"
version = "0.1.1 beta"
>
<name>MIS</name>
<description>This app provide best price for crops to  farmers and help the buyer to purchase crop directly from the farm. Test Village is Pipli.</description>

<author href="#" email="mis@ssnproject.in">Swami Shraddhanand College, University of Delhi</author>
<platform name="ios" />
<platform name="android" />
<platform name="winphone" />
<preference name="orientation" value="default"/>
<preference name="target-device" value="universal"/>
<preference name="fullscreen" value="true" />
<preference name="android-installLocation" value="auto" />
<!-- ! Custom URL schemes !-->
 <url-scheme name="com.ssnprojects.mis" role="None">
      <scheme>pgbr</scheme>
      <scheme>pgbw</scheme>
    </url-scheme>
<!-- ! xml description from here are referenced from here https://github.com/phonegap/phonegap-start/blob/master/www/config.xml !-->
<!-- ! Core plugins !-->
<gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
	<plugin name="com.cordova.plugin.inappbrowser.with.loading.spinner" spec="1.0.13" source="pgb" />
<!-- ! whitelist plugin !-->
<!--<gap:plugin name="com.indigoway.cordova.whitelist.whitelistplugin"  />-->
<access />
<access origin="*"/>
<plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="geo:*" />
	<access origin="mailto:*" launch-external="yes" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>