html,body{
margin:0;padding:0;}
html{
min-height:100%;width:100%;}
body{width:100%;min-height:100%;}
#pageone{
    background-color:421c52;
	background-color: #E0D6EB !important
}
#header,#footer h1{
    background-color:  #FFF;
	color:#000
}
.ui-btn{
    background-color: #E0D6EB !important
}

.ui-grid-a{
margin-top: 20px;
    background-color: rgba(243,156,44,0.7);
}
.ui-grid-b{

    background-color: rgba(76,175,80,0.5);
}

.heading{
    background-colo: rgba(9, 112, 84,0.4);
    padding: 10px;
    text-align: center
}
#footer{
position:absolute;
bottom:0;
width:100%}